@import url(https://fonts.googleapis.com/css?family=Lato:300);

:root {
  --text-primary: #ffffff;
  --text-secondary: #afb3b9;
}

body {
  background-color: #2d2d2d;
  font-family: 'Lato';
  color: white;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 42px;
}

.creator {
  border-right: 5px solid #4e5053;
  color: var(--text-secondary);
  float: right;
  font-size: 0.85rem;
  margin-top: 0;
  padding-right: 5px;
  text-align: right;
  transition: color 250ms, border-right-width 250ms;
}

.creator:hover,
.creator:hover a {
  border-right-width: 8px;
  color: var(--text-primary);
}

a,
a:link {
  color: var(--text-secondary);
  text-decoration: underline;
  transition: color 250ms;
}
