@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
  background-color: #2d2d2d;
  font-family: 'Lato';
  color: white;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 42px;
}

.github-corner:hover .octo-arm{
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave{
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80%{
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
  }
}
