.navigation {
  width: 200px;
  text-transform: uppercase;
  float: right;
}

.navigation ul {
  background-color: #37383a;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigation .header {
  padding: 15px;
  background-color: #4e5053;
}

.navigation li {
  padding: 15px;
}

.navigation .selected {
  background-color: #9061b2;
}
