.score {
  color: var(--text-secondary);
  font-size: 24px;
  line-height: 24px;
}

.title {
  margin: 0;
}

.title > a {
  color: var(--text-primary);
  text-decoration: none;
}

.title > a:hover {
  text-decoration: underline;
}

.author {
  color: var(--text-secondary);
}

.author > a {
  text-decoration: none;
}

.author > a:hover {
  text-decoration: underline;
}
