.score {
  font-size: 24px;
  margin: 15px;
  color: var(--text-secondary);
}

.story > td {
  padding-bottom: 5px;
  padding-top: 5px;
}

.title {
  margin: 0;
}

.title > a {
  color: var(--text-primary);
  text-decoration: none;
}

.title > a:hover {
  text-decoration: underline;
}

.author {
  color: var(--text-secondary);
}

.author > a {
  text-decoration: none;
}

.author > a:hover {
  text-decoration: underline;
}
