.score {
  font-size: 36px;
  margin: 15px;
  color: #afb3b9;
}

.title {
  font-size: 18px;
}

.title a {
  text-decoration: none;
  color: #fff;
}

.author {
  font-size: 16px;
}

.author span {
  color: #afb3b9;
}
