.score {
  font-size: 36px;
  margin: 15px;
  color: var(--text-secondary);
}

.title {
  font-size: 18px;
}

.title a {
  text-decoration: none;
  color: var(--text-primary);
}

.author {
  font-size: 16px;
}

.author span {
  color: var(--text-secondary);
}
